<div class="container itineraries-index">

    <h1 style="font-weight: 100">{{name}}</h1>

    <h4>Nombre del Itinerario:</h4>
    <p>{{name}}</p>

    <p><strong>Distancia: </strong> {{distance}}
        <strong>Tipo de dificultad: </strong> {{difficulty}}
        <strong>Tipo de Terreno: </strong> {{description}}
        <strong>Localización: </strong>
    <ul>
        {{#each location}}
        <li class='point'>
            <ul>
                {{#each coordinates}}
                <li class='coordinate'>{{this}}</li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>



    </p>

    <hr>

    {{!-- <h5>Sobre el parque</h5>
    <p><strong>Nombre</strong>: {{park_id.name}} </p>
    <p><strong>Descripción</strong>: {{description}} </p> --}}

    <a href="/itinerarios/list" class="btn btn-dark">Volver</a>
    <a href="/itinerarios/delete/?id={{id}}" class="btn btn-dark">Delete</a> {{!-- hay que pòner la query -?- --}}
    <a href="/itinerarios/edit/{{id}}" class="btn btn-dark">Editar</a>
</div>

<h3 class="center-title">Tu Ruta</h3>
<div class="map">
    <div id="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0pQBeKhipgpNoEAoYm7hrcNTDtZmkjlA"></script>
<script type="text/javascript" src="../../js/main.js"></script>